<%= form_for(@product) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, id: 'title' %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, id: 'description' %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, id: 'title' %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, id: 'description' %>
  </div>

  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>
